/* Position and sizing of burger button */
.bm-burger-button {
    left: 36px;
    top: 22px;
    position: absolute;
    width: 23px;
    height: 23px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

.grid-container {
    margin-left: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}

.grid-containerone {
    width: 50%;
    margin-left: 50px;
    /* margin-left: 430px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.grid-containeronetitle {
    float: right;
    width: 50%;
}

.button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

.button2 {
    font-size: 12px;
}

.grid-item {
    width: 30%;
    border: 1px solid;
    padding: 9px;
    border-radius: 6px;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
    position: fixed;
    height: 100%;
}

/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.product-div-wrapper {
    display: flex;
    flex-direction: row;
    margin: 0px 30px;
    gap: 76px;
}

.product-main-div {

    background-color: teal;
    padding-top: 33px;
}

.menu-header {
    width: 100%;
    height: 64px;
    margin-bottom: 13px;
    background-color: teal;
}

.fa-shopping-div {
    font-size: 28px;
    position: absolute;
    right: 130px;
    top: 10px;
}

*.icon-blue {
    color: #0088cc
}

i {
    width: 100px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.badge:after {
    content: attr(data-count);
    position: absolute;
    height: 20px;
    top: -15px;
    right: 29px;
    width: 20px;
    text-align: center;
    line-height: 2rem;
    font-size: 22px;
    border-radius: 50%;
    color: white;
}